<!DOCTYPE html>
<html>
  <head>
    <title>FakeCord | @me</title>
    <link rel="icon" href="/static/assets/fakecord.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira Code">
    <link rel="stylesheet" href="/static/styles/globals.css">
    <link rel="stylesheet" href="/static/styles/tags.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="/static/scripts/Fetch.js"></script>
    <script src="/static/scripts/Config.js"></script>
    <script src="/static/scripts/Render.js"></script>
    <script src="/static/scripts/IndexLoad.js"></script>
  </head>
  <body>
    <div id="sidePanel"></div>
    <div class="content">
      <div class="channel-banner centered-vertically">
        <div id="channelName">FakeCord</div>
      </div>
      <div id="devLogs"></div>
    </div>
    <div class="profile centered-vertically">
      <img id="avatarImage" src="/static/assets/fakecord.png">
      <div class="profile-text">
        <div id="profileTitle" class="profile-global">...</div>
        <div id="profileSubtitle" class="profile-username">...</div>
      </div>
    </div>
    <div class="bottom">
      <a class="guild home-icon" href="/"><img class="guild-icon" src="/static/assets/fakecord.png"></a>
      <div id="bottomPanel"></div>
    </div>
  </body>
</html>